src/main/mule/impl/impl-subscription-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="impl-subscription-post-subscription-flow"
		doc:id="11759503-62a6-46b0-8845-b3be461f145b">
		<logger level="INFO"
			doc:name="START - Subcription Process Request"
			doc:id="55cd753e-07df-4976-af36-3079b042fd0f"
			message="START - Subcription Process Request" />
		<flow-ref doc:name="impl-subscription-post-audit-subflow"
			doc:id="5841db2c-87c4-436c-98c2-d148b3643619"
			name="impl-subscription-post-audit-subflow" />
		<flow-ref
			doc:name="common-validate-subscription-request-subflow"
			doc:id="d4826b9f-7be8-41b0-8915-02076282c04c"
			name="common-validate-subscription-request-subflow" />
		<flow-ref doc:name="impl-subscription-brand-lookup-subflow"
			doc:id="df1eddac-db79-438b-bf53-3012de73f9f2"
			name="impl-subscription-brand-lookup-subflow" />
		<flow-ref doc:name="impl-subcription-state-lookup-subflow"
			doc:id="ea2cebf6-fe8a-41a6-be24-f1c0796c4edd"
			name="impl-subscription-state-lookup-subflow" />
		<choice doc:name="IS for Provision?" doc:id="73052fe2-3cc0-4e12-a87e-65d2a44c980b" >
			<when expression="#[vars.formattedSubscriberData.keyword == 'OPT-IN' and (vars.state.state == 0 or isEmpty(vars.state.state)) or vars.formattedSubscriberData.keyword == 'BONUS' and  ( vars.brand.'brand-name' != 'Postpaid' or isEmpty(vars.state.state))]">
				<flow-ref doc:name="impl-subscription-check-eligibility-subflow" doc:id="ab7d3856-5216-414e-ae97-028fc544c626" name="impl-subscription-check-eligibility-subflow" />
				<flow-ref doc:name="impl-subscription-post-facebook-provision-subflow" doc:id="680793fa-786c-47ed-839e-92b10afa765d" name="impl-subscription-post-facebook-provision-subflow" target="provisionResponse" />
				<flow-ref doc:name="impl-subscription-post-state-subflow" doc:id="5e096604-0e76-4a76-bca5-870f7d8c1b92" name="impl-subscription-post-state-subflow" />
			</when>
			<when expression='#[vars.formattedSubscriberData.keyword == "OPT-OUT" and vars.state.state == 1]'>
				<flow-ref doc:name="impl-subscription-post-facebook-provision-subflow" doc:id="cbdce464-c6f2-4dd3-aaf7-9ddfe7d5ea92" name="impl-subscription-post-facebook-provision-subflow" target="provisionResponse" />
				<flow-ref doc:name="impl-subscription-post-state-subflow" doc:id="2a33333e-307b-4fc7-9e08-f9e01bebfb2c" name="impl-subscription-post-state-subflow" />
			</when>
		</choice>
		<flow-ref doc:name="impl-subscription-put-audit-subflow"
			doc:id="f99817a2-bd6b-4386-a0e0-27864ad9d94a"
			name="impl-subscription-put-audit-subflow" />
		<flow-ref doc:name="impl-subscription-post-sms-subflow"
			doc:id="8050e4dc-5508-4fa4-8c19-191ce1f981d2"
			name="impl-subscription-post-sms-subflow" />
		<logger level="INFO"
			doc:name="END - Subcription Process Request"
			doc:id="b24f86b8-98de-40de-93d0-828aa25e7c11"
			message="END - Subcription Process Request" />
		<error-handler
			ref="proc-subscription-api-Shared_Error_Handler" />
	</flow>
	<sub-flow name="impl-subscription-post-audit-subflow"
		doc:id="81ed1a62-3c83-4c4e-9846-f937046c7ffb">
		<logger level="INFO" doc:name="START - Audit Logging Process"
			doc:id="07963c6a-5d72-4776-917c-cbda22b3dd60"
			message="START - Audit Logging Process - STEP 1: AUDIT LOGGING" />
		<ee:transform doc:name="Payload to Audit API Request"
			doc:id="f672b6bb-985b-4ac4-b353-4b8db56c5c83">
			<ee:message>
				<ee:set-payload
					resource="dw/payload-audit-api-request.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="sys-audit-api-post-audit-subflow"
			doc:id="47620c83-ad7e-497d-8d42-ce73446ecbcf"
			name="sys-audit-api-post-audit-subflow" />
		<ee:transform doc:name="var-auditId"
			doc:id="748a0edb-39c4-45d8-94d9-57a8df7de6da">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable resource="dw/var-auditId.dwl"
					variableName="auditId" />
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="END  - Audit Logging Process"
			doc:id="125a6417-0c97-4601-904d-65d2e5ef1d3a"
			message="END - Audit Logging Process - STEP 1: AUDIT LOGGING" />
	</sub-flow>
	<sub-flow name="impl-subscription-brand-lookup-subflow"
		doc:id="3210188d-3331-41a5-9aa9-9efa69e808eb">
		<logger level="INFO" doc:name="START - Brand Lookup"
			doc:id="2dbdc422-a67d-44a2-b961-01cb84171931"
			message="START - Brand Lookup" />
		<try doc:name="Try" doc:id="935c55d8-8b21-48f4-99cb-9ebc76d8577c">
			<flow-ref doc:name="sys-redis-api-get-brand-prefix-subflow"
				doc:id="73ba302b-54fd-4be9-bf3e-3a80bef4031a"
				name="sys-redis-api-get-brand-prefix-subflow" />
			<error-handler>
				<on-error-continue enableNotifications="true"
					logException="true" doc:name="On Error Continue"
					doc:id="20b2ac8e-14bd-47ed-945d-421182a01360">
					<logger level="INFO" doc:name="Proceed Anyway"
						doc:id="bbe9a74d-ea57-4ea9-b6cd-d831988d3e11"
						message='Failed to get brand prefix from Redis.' />
				</on-error-continue>
			</error-handler>
		</try>
		<choice doc:name="IS Brand Id Not found?"
			doc:id="09655b26-1c73-4431-a941-5dab12c5d093">
			<when expression="#[isEmpty(payload.result)]">
				<flow-ref
					doc:name="sys-bridge-api-get-bridge-prefix-subflow"
					doc:id="8c1e7c02-b7f8-48a3-acf0-3b1c820e2622"
					name="sys-bridge-api-get-bridge-prefix-subflow" />
				<flow-ref doc:name="impl-subcription-post-brand-subflow"
					doc:id="689016ef-48df-4d16-9b61-cfdb48559be4"
					name="impl-subscription-post-brand-subflow" />
			</when>
		</choice>
		<ee:transform doc:name="var-brand"
			doc:id="46f7f1c4-49ea-4138-ae61-c942ba48f325">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable resource="dw/var-brand.dwl"
					variableName="brand" />
			</ee:variables>
		</ee:transform>
		<choice doc:name="IS Brand Id Supported?"
			doc:id="28376ce8-baf5-49f5-8ea0-d0474c5eade9">
			<when
				expression='#[(!([1, 2, 3] contains (vars.brand."brand-id")))]'>
				<raise-error doc:name="Raise error - Unsupported Brand"
					doc:id="4686e406-302f-4314-ac17-296c12cb3536"
					type="INPUT:UNSUPPORTED" description="Brand Id Unsupported" />
			</when>
		</choice>
		<logger level="INFO" doc:name="END - Brand Lookup"
			doc:id="6e639040-daa6-4b99-bf1a-ace8435fe943"
			message="START - Brand Lookup" />
	</sub-flow>
	<sub-flow name="impl-subscription-state-lookup-subflow"
		doc:id="0750b17e-e72e-4459-8039-a6d15d2747ad">
		<logger level="INFO" doc:name="START - State Lookup"
			doc:id="02416b7a-7fd1-4567-b4d0-3680a8c88af7"
			message="START - State Lookup" />
		<flow-ref doc:name="sys-redis-api-get-state-msisdn-subflow"
			doc:id="78189739-765a-454d-862f-ad0e3b23c700"
			name="sys-redis-api-get-state-msisdn-subflow" />
		<ee:transform doc:name="var-state"
			doc:id="96b7004f-5f9c-4830-b3c5-6531407c12f3">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable resource="dw/var-state.dwl"
					variableName="state" />
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="END- State Lookup"
			doc:id="f0dc7604-0ad4-40ac-b69c-7de897349ccd"
			message="END- State Lookup" />
	</sub-flow>
	<sub-flow name="impl-subscription-post-brand-subflow"
		doc:id="f26655a7-045d-4c0d-aea2-d46c853bd62f">
		<logger level="INFO" doc:name="START- Post brand from bridge "
			doc:id="44ff3ac8-74f6-4f0b-85f3-194c1e81754f"
			message="START-  - Post brand from bridge " />
		<ee:transform doc:name="Payload TO Redis API Request"
			doc:id="bcf0f0d3-06da-4f24-ac74-c3c9aaeeed03">
			<ee:message>
				<ee:set-payload
					resource="dw/payload-get-bridge-prefix-response.dwl" />
			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
		<async doc:name="Async"
			doc:id="c30b2e07-a0a3-4bba-a911-baa0c2eb1706">
			<try doc:name="Try" doc:id="3a8146b9-368c-4c15-aa1d-7113564405d0">
				<flow-ref
					doc:name="sys-redis-api-post-brand-prefix-subflow"
					doc:id="f488925a-519f-445c-963d-231f3f08cf9e"
					name="sys-redis-api-post-brand-prefix-subflow" />
				<error-handler>
					<on-error-propagate enableNotifications="true"
						logException="true" doc:name="On Error Propagate"
						doc:id="409d9136-dc06-4da6-932f-8dbde98c0e2f" type="ANY">
						<logger level="INFO" doc:name="Stop Process"
							doc:id="3addf38c-b35f-4ce7-8617-a87e8b1f3aed"
							message='Failed to POST brand prefix from Redis.' />
					</on-error-propagate>
				</error-handler>
			</try>
		</async>
		<logger level="INFO" doc:name="END- Post brand from bridge "
			doc:id="b42473d3-a1d1-4ede-af61-624e3ba04796"
			message="END- Post brand from bridge " />
	</sub-flow>
	<sub-flow name="impl-subscription-check-eligibility-subflow"
		doc:id="6d366e81-537c-40ac-bbd9-ab7197a1b239">
		<choice doc:name="ROUTE Eligibility: OPT-IN or  BONUS"
			doc:id="2398692e-14e2-48e1-9b0c-4648d5b0c0eb">
			<when
				expression='#[vars.formattedSubscriberData.keyword == "OPT-IN"]'>
				<flow-ref
					doc:name="impl-subscription-check-eligibility-prepaid-postpiad-subflow"
					doc:id="210ab367-276a-4056-a5fc-21516a672df9"
					name="impl-subscription-check-eligibility-prepaid-postpiad-subflow" />
			</when>
			<otherwise>
				<flow-ref doc:name="impl-subscription-check-eligibility-bonus-subflow" doc:id="350f47e1-87e0-4f4a-bd3f-cfd83a7d686c" name="impl-subscription-check-eligibility-bonus-subflow" />
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow
		name="impl-subscription-check-eligibility-prepaid-postpiad-subflow"
		doc:id="badefcfd-e27d-4df8-8b80-f25111eb2cdd">
		<logger level="INFO"
			doc:name="START - Check Eligibility Process"
			doc:id="ef643cf9-c369-40b8-8978-b139f0b781d5"
			message="START - Prepaid Postpaid Lookup" />
		<ee:transform
			doc:name="Payload TO NF API Request, Payload TO BSS API Request"
			doc:id="f030769d-398d-41ca-b327-8457e9b8df39">
			<ee:message>
				<ee:set-payload
					resource="dw/payload-nf-api-request.dwl" />
			</ee:message>
		</ee:transform>
		<choice doc:name="IS brandId Prepaid or Postpaid?"
			doc:id="527bd8e4-9594-48dc-b0d5-7eb7b9054d1c">
			<when expression='#[[1, 2] contains (vars.brand."brand-id")]'>
				<flow-ref doc:name="sys-nf-api-get-prepaid-msisdn-subflow"
					doc:id="4a60da90-8dc9-44ad-844b-dc47ff3e8c8d"
					name="sys-nf-api-get-prepaid-msisdn-subflow" />
			</when>
			<otherwise>
				<flow-ref doc:name="sys-bss-api-get-postpiad-msisdn-flow"
					doc:id="be8bdb96-659f-428f-afbd-15981d5f2ff5"
					name="sys-bss-api-get-postpaid-msisdn-subflow" />
			</otherwise>
		</choice>
		<choice doc:name="HAS valid Prepaid or Postpaid promo bundles?"
			doc:id="b76230c2-bcda-4e9d-afb0-8675f06d6034">
			<when
				expression="#[((!isEmpty(payload.bundles filter ($.service_id == vars.originalPayload.'as-service-id' and now() &lt; ($.expiry_date as LocalDateTime {format: &quot;yyyy-MM-dd HH:mm:ss&quot;})))) or (!isEmpty(payload.bundles)))]">
				<ee:transform doc:name="var-expiryDetails"
					doc:id="f93609c6-8acb-49ff-ac3e-e676062ff794">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable
							resource="dw/payload-nf-api-response.dwl"
							variableName="expiryDetails" />
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise>
				<raise-error
					doc:name="Raise error - Subcriber not eligible"
					doc:id="cef58b8d-2657-436d-b5ab-8ead0516b932"
					type="INPUT:INELIGIBLE"
					description=" Subcriber not eligible for this promo." />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="END - Prepaid Postpaid Lookup"
			doc:id="32230055-69ae-4d91-87a3-5e0b717c5e15"
			message="END - Prepaid Postpaid Lookup" />
	</sub-flow>
	<sub-flow name="impl-subscription-check-eligibility-bonus-subflow"
		doc:id="c886cbf7-afd9-4281-a813-3a7b2133adef">
		<logger level="INFO" doc:name="START - Get msisdn Bonus"
			doc:id="e3a1162a-aea4-45a8-9f0a-adffe01e944e"
			message="END- Bonus Handling" />
		<flow-ref
			doc:name="sys-mongodb-api-get-whitelist-msisdn-subflow"
			doc:id="0fdd0308-1b66-4eb4-99e3-c2a4d86df0b6"
			name="sys-mongodb-api-get-whitelist-msisdn-subflow" />
		<choice doc:name="IS bonus whitelist entry eligible?"
			doc:id="d0f4c68c-1ee3-45c7-9d31-a3f6df96a0fa">
			<when
				expression="#[((!isEmpty(payload.results)) and (payload.results.eligible == true))]">
				<ee:transform doc:name="var-expiryDetails"
					doc:id="813d2baa-269a-4054-9038-e9cc891a9746">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable
							resource="dw/payload-get-mongodb-api-response.dwl"
							variableName="expiryDetails" />
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise>
				<raise-error
					doc:name="Raise error - Subcriber not whitelisted"
					doc:id="ceb053bc-4b61-4c72-88b1-888583981185"
					type="INPUT:INELIGIBLE"
					description="Subcriber not whitelisted for bonus fb." />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="END - Get msisdn Bonus "
			doc:id="8dad676f-4dbc-43c2-8e21-ef46e62d9ea3"
			message="END - Get msisdn Bonus " />
	</sub-flow>
	<sub-flow
		name="impl-subscription-post-facebook-provision-subflow"
		doc:id="5e05202e-e628-4eeb-a9c0-c2ac48c2f256">
		<logger level="INFO" doc:name="START - Provision Process"
			doc:id="8f6573cd-c964-4a12-af11-e2ed137ce718"
			message="START - Provision Process - STEP 5: FACEBOOK PROVISIONING/DEPROVISIONING" />
		<ee:transform doc:name="Payload TO Provision API Request"
			doc:id="48d5fb15-f034-4f1d-bcc2-ad0b7b90ee8e">
			<ee:message>
				<ee:set-payload
					resource="dw/payload-provision-api-request.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="sys-facebook-api-post-provision-subflow"
			doc:id="b6b9e7e2-08ff-41bc-b325-8c7972a5a4fd"
			name="sys-facebook-api-post-provision-subflow" />
		<choice doc:name="IS request type BONUS?"
			doc:id="68f8dd6f-6912-45a2-9693-1d946be6e4fc">
			<when
				expression='#[vars.formattedSubscriberData.keyword == "BONUS"]'>
				<flow-ref doc:name="impl-subscription-delete-bonus-subflow"
					doc:id="13234db9-edd1-48a0-9406-1ad385720593"
					name="impl-subscription-delete-bonus-subflow" />
			</when>
		</choice>
		<logger level="INFO" doc:name="END  - Provision Process "
			doc:id="af797a39-04d9-4b63-9049-6823ec996b34"
			message="END  - Provision Process - STEP 5: FACEBOOK PROVISIONING/DEPROVISIONING" />
	</sub-flow>
	<sub-flow name="impl-subscription-post-state-subflow"
		doc:id="353c9ba2-1171-4c3d-912a-9afb9cf95476">
		<logger level="INFO" doc:name="START - State Caching"
			doc:id="067d3c99-54d2-43d4-a64d-d6504d18273a"
			message="START - State Caching - STEP 6: UPDATE REDIS STATE" />
		<ee:transform doc:name="Payload to Redis API Request"
			doc:id="c2c111e9-76c8-4280-a0b2-40ef2986a733">
			<ee:message>
				<ee:set-payload
					resource="dw/payload-redis-api-post-state-request.dwl" />
			</ee:message>
		</ee:transform>
		<try doc:name="Try" doc:id="0d34fcc0-6056-477b-897a-d7c62bf400b4">
			<until-successful maxRetries="3"
				doc:name="Until Successful"
				doc:id="a403b0e0-cc43-44b7-8b47-fff85dcc87f8"
				millisBetweenRetries="5000">
				<flow-ref doc:name="sys-post-state-subflow"
					doc:id="60da4d68-de6b-4003-bcfc-97cf4844385a"
					name="sys-redis-api-post-state-msisdn-subflow" />
			</until-successful>
			<error-handler>
				<on-error-continue enableNotifications="true"
					logException="true" doc:name="On Error Continue"
					doc:id="de0b026d-5261-4872-8ec9-70ada1bdf0ee">
					<logger level="INFO"
						doc:name="Proceed anyway  - Post State Failure Log"
						doc:id="43095d7e-f4ca-4896-b45b-36aa0702d52d"
						message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  &quot;flow-name&quot;: flow.name as String,&#10;  &quot;transaction-id&quot;: vars.originalPayload.'transaction-id',&#10;  &quot;msisdn&quot;: vars.formattedSubscriberData.msisdn,&#10;  &quot;request-type&quot;: vars.formattedSubscriberData.keyword,&#10;  &quot;redis-key&quot;: &quot;spectre-freefb&quot; ++ vars.formattedSubscriberData.msisdn,&#10;  &quot;redis-state&quot;: payload.requestPayload.state,&#10;  &quot;attempt&quot;: 3,&#10;  &quot;status&quot;: &quot;failure&quot;,&#10;  &quot;error&quot;: error.description,&#10;  &quot;timestamp&quot;: now() as DateTime {format: &quot;yyyy-MM-dd HH:mm:ss&quot;}&#10;}]" />
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="END- State Caching"
			doc:id="eff6d585-cdd8-493f-a785-a78cc1219840"
			message="START - State Caching - STEP 6: UPDATE REDIS STATE" />
	</sub-flow>
	<sub-flow name="impl-subscription-put-audit-subflow"
		doc:id="0c114945-f0a3-42b1-b2a8-7ef7d1693e05">
		<logger level="INFO" doc:name="START- Update Audit Logging"
			doc:id="e1dc0fc5-51a6-41dd-9653-fe4e4e1b1a26"
			message="START- Update Audit Logging - STEP 7: UPDATE AUDIT LOGGING" />
		<ee:transform doc:name="Payload to Audit API Request"
			doc:id="c0f31921-8a8c-473a-857c-de553a800dd0">
			<ee:message>
				<ee:set-payload
					resource="dw/payload-put-audit-request.dwl" />
			</ee:message>
		</ee:transform>
		<try doc:name="Try" doc:id="a885e43d-9511-47a7-80b3-b898237a2752">
			<until-successful maxRetries="3"
				doc:name="Until Successful"
				doc:id="9c148838-f733-40d9-ae84-69a2a581f516"
				millisBetweenRetries="5000">
				<flow-ref doc:name="sys-audit-api-put-audit-subflow"
					doc:id="82eee915-548b-4c4d-8d86-0407536d902e"
					name="sys-audit-api-put-audit-subflow" />
			</until-successful>
			<error-handler>
				<on-error-continue enableNotifications="true"
					logException="true" doc:name="On Error Continue"
					doc:id="ffc39210-adf0-4c58-b6d1-ef781a6e2b23">
					<logger level="INFO"
						doc:name="Proceed anyway  - Put Audit Failure Log"
						doc:id="26dc6070-178b-4780-a439-59ad1777abe6"
						message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  &quot;flow-name&quot;: flow.name as String,&#10;  &quot;transaction-id&quot;: vars.originalPayload.'transaction-id',&#10;  &quot;msisdn&quot;: vars.formattedSubscriberData.msisdn,&#10;  &quot;request-type&quot;: vars.formattedSubscriberData.keyword,&#10;  &quot;audit-id&quot;: vars.auditId.'audit-id',&#10;  &quot;audit-log&quot;: {&#10;    &quot;success&quot;: if (!isEmpty(error)) 0 else 1,&#10;    &quot;hasProcessorError&quot;: if (!isEmpty(error)) 1 else 0&#10;  },&#10;  &quot;status&quot;: &quot;failure&quot;,&#10;  &quot;error&quot;: error.description,&#10;  &quot;attempt&quot;: 3,&#10;  &quot;timestamp&quot;: now() as DateTime {format: &quot;yyyy-MM-dd HH:mm:ss&quot;}&#10;}]" />
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="END - Update Audit Logging"
			doc:id="dd75d9e7-9a71-4d19-94f4-41c212547619"
			message="END - Update Audit Logging - STEP 7: UPDATE AUDIT LOGGING" />
	</sub-flow>
	<sub-flow name="impl-subscription-post-sms-subflow"
		doc:id="ab7f9e86-0987-4639-a35d-cc177bb928f2">
		<logger level="INFO" doc:name="START - SMS Messaging Process"
			doc:id="85275436-9068-49ef-8876-def884faa94a"
			message="START - SMS Messaging Process - STEP 8: SMS MESSAGING" />
		<ee:transform doc:name="var-smsSpiel"
			doc:id="93fccce1-a2b7-475c-80db-72f6a5e23cf3">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable resource="dw/get-sms-spiel.dwl"
					variableName="smsSpiel" />
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Payload to SMS API Request"
			doc:id="2d3a1a9b-6712-4b77-bf49-108c15b9338a">
			<ee:message>
				<ee:set-payload
					resource="dw/payload-post-sms-api-request.dwl" />
			</ee:message>
		</ee:transform>
		<try doc:name="Try" doc:id="318708a6-c9a9-4ccf-b492-feb1c6740850">
			<until-successful maxRetries="3"
				doc:name="Until Successful"
				doc:id="cfc90b85-e3be-449c-b1a2-758e708b7e41"
				millisBetweenRetries="5000">
				<flow-ref doc:name="sys-sms-api-subflow"
					doc:id="a53cccc2-654c-4066-8d5b-7284f8434493"
					name="sys-sms-api-post-message-subflow" />
			</until-successful>
			<error-handler>
				<on-error-continue enableNotifications="true"
					logException="true" doc:name="On Error Continue"
					doc:id="d94484a0-e34e-43b9-a5ce-cdbe9ad918ca">
					<logger level="INFO"
						doc:name="Proceed anyway  - Post SMS Failure Log"
						doc:id="3e471234-41e0-4af0-8984-c4cc3299ef9f"
						message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  &quot;flow-name&quot;: flow.name as String,&#10;  &quot;transaction-id&quot;: vars.originalPayload.'transaction-id',&#10;  &quot;msisdn&quot;: vars.formattedSubscriberData.msisdn,&#10;  &quot;request-type&quot;: vars.formattedSubscriberData.keyword,&#10;  &quot;message&quot;: &quot;message&quot;: vars.smsSpiel.'sms-spiel',&#10;  &quot;source-address&quot;: vars.originalPayload.'sms-source-address',&#10;  &quot;attempt&quot;: 3,&#10;  &quot;status&quot;: &quot;failure&quot;,&#10;  &quot;error&quot;: error.description,&#10;  &quot;timestamp&quot;: now() as DateTime {format: &quot;yyyy-MM-dd HH:mm:ss&quot;},&#10;  &quot;note&quot;: &quot;No Message was sent, but successfully provision/deprovision&quot;&#10;}]" />
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="END - SMS Messaging Process"
			doc:id="d2e18799-9a72-40a5-8add-3e5dc9051b0c"
			message="END - SMS Messaging Process - STEP 8: SMS MESSAGING" />
	</sub-flow>
	<sub-flow name="impl-subscription-delete-bonus-subflow"
		doc:id="aa665024-e4b2-499e-af6e-9281cdfd41fa">
		<logger level="INFO" doc:name="START - Mongdb Delete msisdn "
			doc:id="2b0b2435-b927-4e7d-bac2-0a1554c8e0db"
			message="START - Mongdb Delete msisdn " />
		<try doc:name="Try" doc:id="5addf2c4-ba95-4a6f-9104-f8f4a18fd380">
			<until-successful maxRetries="3"
				doc:name="Until Successful"
				doc:id="41d49cf9-ca58-4736-b91a-2597490b6dc8"
				millisBetweenRetries="5000">
				<flow-ref
					doc:name="sys-mongodb-api-delete-whitelist-msisdn-subflow"
					doc:id="a2d06424-5d43-41c0-b999-f0fb57c8ab52"
					name="sys-mongodb-api-delete-whitelist-msisdn-subflow" />
			</until-successful>
			<error-handler>
				<on-error-continue enableNotifications="true"
					logException="true" doc:name="On Error Continue"
					doc:id="2df78b1e-98ce-4fc9-9aff-d696c27279d7">
					<logger level="INFO"
						doc:name="Proceed anyway  - Delete Bonus Failure Log"
						doc:id="4a42ff9c-a6f2-4099-99ea-07a94b90f984"
						message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  &quot;flow-name&quot;: flow.name as String,&#10;  &quot;transaction-id&quot;: vars.originalPayload.'transaction-id',&#10;  &quot;msisdn&quot;: vars.formattedSubscriberData.msisdn,&#10;  &quot;request-type&quot;: vars.formattedSubscriberData.keyword,&#10;  &quot;mongo-action&quot;: &quot;delete&quot;,&#10;  &quot;collection&quot;: &quot;whitelist&quot;,&#10;  &quot;attempt&quot;: 3,&#10;  &quot;status&quot;: &quot;failure&quot;,&#10;  &quot;error&quot;: error.description,&#10;  &quot;timestamp&quot;: now() as DateTime {format: &quot;yyyy-MM-dd HH:mm:ss&quot;}&#10;}]" />
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="END - Mongdb Delete msisdn"
			doc:id="35ae0728-de2f-4188-bbfc-ebe30b9be8d2"
			message="END - Mongdb Delete msisdn " />
	</sub-flow>
</mule>
