src/main/mule/impl/impl-subscription-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="impl-subscription-post-subscription-flow"
		doc:id="11759503-62a6-46b0-8845-b3be461f145b">
		<logger level="INFO"
			doc:name="START - Subcription Process Request"
			doc:id="55cd753e-07df-4976-af36-3079b042fd0f"
			message="START - Subcription Process Request" />
		<flow-ref doc:name="impl-subscription-post-audit-subflow"
			doc:id="5841db2c-87c4-436c-98c2-d148b3643619"
			name="impl-subscription-post-audit-subflow" />
		<flow-ref
			doc:name="common-validate-subscription-request-subflow"
			doc:id="d4826b9f-7be8-41b0-8915-02076282c04c"
			name="common-validate-subscription-request-subflow" />
		<flow-ref
			doc:name="impl-subscription-brand-state-check-subflow"
			doc:id="df1eddac-db79-438b-bf53-3012de73f9f2"
			name="impl-subscription-brand-state-check-subflow" />
		<flow-ref
			doc:name="impl-subscription-process-eligibility-provision-state-subflow"
			doc:id="ab7d3856-5216-414e-ae97-028fc544c626"
			name="impl-subscription-process-eligibility-provision-state-subflow" />
		<flow-ref doc:name="impl-subscription-put-audit-subflow"
			doc:id="f99817a2-bd6b-4386-a0e0-27864ad9d94a"
			name="impl-subscription-put-audit-subflow" />
		<flow-ref doc:name="impl-subscription-post-sms-subflow"
			doc:id="8050e4dc-5508-4fa4-8c19-191ce1f981d2"
			name="impl-subscription-post-sms-subflow" />
		<logger level="INFO"
			doc:name="END - Subcription Process Request"
			doc:id="b24f86b8-98de-40de-93d0-828aa25e7c11"
			message="END - Subcription Process Request" />
		<error-handler
			ref="proc-subscription-api-Shared_Error_Handler" />
	</flow>
	<sub-flow
		name="impl-subscription-process-eligibility-provision-state-subflow"
		doc:id="6d366e81-537c-40ac-bbd9-ab7197a1b239">
		<choice doc:name="ROUTE request Based ON spielType Outcome"
			doc:id="bcbd3d62-7c2b-4d65-a101-f2fa55a86bac">
			<when
				expression="#[vars.spielType != null and vars.spielType != 'first-time' and vars.spielType != 'eligible' and vars.spielType != 'normal-off']">
				<logger level="INFO" doc:name="Do nothing"
					doc:id="41ced758-8956-4ad1-90e8-2792d3543da0"
					message="Proceed to STEP 7: UPDATE AUDIT LOGGING" />
			</when>
			<otherwise>
				<choice doc:name="IS Keyword OPT-IN? ROUTE TO Eligibility"
					doc:id="2398692e-14e2-48e1-9b0c-4648d5b0c0eb">
					<when
						expression="#[vars.formattedSubscriberData.keyword == 'OPT-IN']">
						<flow-ref
							doc:name="impl-subscription-check-eligibility-subflow"
							doc:id="210ab367-276a-4056-a5fc-21516a672df9"
							name="impl-subscription-check-eligibility-subflow" />
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Do nothing" doc:id="e556118d-7f92-4063-918a-9cec2cca6d81" message="Proceed to STEP 7: UPDATE AUDIT LOGGING" />
					</otherwise>
				</choice>
				<choice doc:name="Choice" doc:id="5ba87f19-f47d-48c0-bb71-93110d4cb01f">
					<when expression="#[vars.spielType != 'ineligible']">
						<flow-ref doc:name="impl-subscription-post-facebook-provision-subflow" doc:id="680793fa-786c-47ed-839e-92b10afa765d" name="impl-subscription-post-facebook-provision-subflow" />
						<flow-ref doc:name="impl-subscription-post-state-subflow" doc:id="5e096604-0e76-4a76-bca5-870f7d8c1b92" name="impl-subscription-post-state-subflow" />
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Do nothing" doc:id="d9460b4a-a4d5-4942-9a32-e6b08eca535b" message="Proceed to STEP 7: UPDATE AUDIT LOGGING" />
					</otherwise>
				</choice>
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="impl-subscription-post-audit-subflow"
		doc:id="81ed1a62-3c83-4c4e-9846-f937046c7ffb">
		<logger level="INFO" doc:name="START - Audit Logging Process"
			doc:id="07963c6a-5d72-4776-917c-cbda22b3dd60"
			message="START - Audit Logging Process - STEP 1: AUDIT LOGGING" />
		<ee:transform doc:name="Payload to Audit API Request"
			doc:id="f672b6bb-985b-4ac4-b353-4b8db56c5c83">
			<ee:message>
				<ee:set-payload
					resource="dw/payload-audit-api-request.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="sys-audit-api-post-audit-subflow"
			doc:id="47620c83-ad7e-497d-8d42-ce73446ecbcf"
			name="sys-audit-api-post-audit-subflow" />
		<ee:transform doc:name="var-auditId"
			doc:id="748a0edb-39c4-45d8-94d9-57a8df7de6da">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable resource="dw/var-auditId.dwl"
					variableName="auditId" />
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="END  - Audit Logging Process"
			doc:id="125a6417-0c97-4601-904d-65d2e5ef1d3a"
			message="END - Audit Logging Process - STEP 1: AUDIT LOGGING" />
	</sub-flow>
	<sub-flow name="impl-subscription-brand-state-check-subflow"
		doc:id="3210188d-3331-41a5-9aa9-9efa69e808eb">
		<logger level="INFO" doc:name="START - Brand and State Check"
			doc:id="2dbdc422-a67d-44a2-b961-01cb84171931"
			message="START - Brand and State Check  - STEP 3: REDIS LOGIC (BRAND &amp; STATE LOOKUP)" />
		<try doc:name="Try" doc:id="935c55d8-8b21-48f4-99cb-9ebc76d8577c">
			<flow-ref doc:name="sys-redis-api-get-brand-prefix-subflow"
				doc:id="73ba302b-54fd-4be9-bf3e-3a80bef4031a"
				name="sys-redis-api-get-brand-prefix-subflow" />
			<error-handler>
				<on-error-continue enableNotifications="true"
					logException="true" doc:name="On Error Continue"
					doc:id="20b2ac8e-14bd-47ed-945d-421182a01360">
					<logger level="INFO" doc:name="Proceed Anyway"
						doc:id="bbe9a74d-ea57-4ea9-b6cd-d831988d3e11"
						message='#["Failed to get brand prefix from Redis. Error: " ++ error.errorType ++ " - " ++ error.errorMessage]' />
				</on-error-continue>
			</error-handler>
		</try>
		<choice doc:name="IS BrandId found?"
			doc:id="09655b26-1c73-4431-a941-5dab12c5d093">
			<when expression="#[isEmpty(payload.result)]">
				<flow-ref
					doc:name="sys-bridge-api-get-bridge-prefix-subflow"
					doc:id="8c1e7c02-b7f8-48a3-acf0-3b1c820e2622"
					name="sys-bridge-api-get-bridge-prefix-subflow" />
				<ee:transform doc:name="Bridge API TO API Response"
					doc:id="bcf0f0d3-06da-4f24-ac74-c3c9aaeeed03">
					<ee:message>
						<ee:set-payload
							resource="dw/payload-get-bridge-prefix-response.dwl" />
					</ee:message>
				</ee:transform>
			</when>
		</choice>
		<ee:transform doc:name="var-brand"
			doc:id="46f7f1c4-49ea-4138-ae61-c942ba48f325">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable resource="dw/var-brand.dwl"
					variableName="brand" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="sys-redis-api-post-brand-prefix-subflow"
			doc:id="f488925a-519f-445c-963d-231f3f08cf9e"
			name="sys-redis-api-post-brand-prefix-subflow" />
		<choice doc:name="IS Brand Id Supported?"
			doc:id="28376ce8-baf5-49f5-8ea0-d0474c5eade9">
			<when
				expression='#[[1, 2, 3] contains (vars.brand."brand-id" default 0)]'>
				<flow-ref doc:name="sys-redis-api-get-state-msisdn-subflow"
					doc:id="78189739-765a-454d-862f-ad0e3b23c700"
					name="sys-redis-api-get-state-msisdn-subflow"
					target="stateResponse" />
				<choice doc:name="ROUTE request TO Screnarios"
					doc:id="ee430490-f0ce-4877-9e7b-53e83db9f5a2">
					<when
						expression='#[vars.formattedSubscriberData.keyword == "OPT-IN"]'>
						<flow-ref
							doc:name="impl-subscription-process-opt-in-subflow"
							doc:id="790471b1-1492-4682-99a7-43e718cd5d2a"
							name="impl-subscription-process-opt-in-subflow" />
					</when>
					<when
						expression='#[vars.formattedSubscriberData.keyword == "OPT-OUT"]'>
						<flow-ref
							doc:name="impl-subscription-process-opt-out-subflow"
							doc:id="f32dd1f9-f56d-4fa5-9484-595696c18032"
							name="impl-subscription-process-opt-out-subflow" />
					</when>
					<otherwise>
						<flow-ref
							doc:name="impl-subscription-process-bonus-subflow"
							doc:id="66404357-6efd-4789-8c4e-9a76b51ffb32"
							name="impl-subscription-process-bonus-subflow" />
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<ee:transform doc:name="var-spielType(unsupported)"
					doc:id="7d0c8316-a7b0-4c5d-99d2-8364a72be96d">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable
							resource="dw/var-spielType-unsupported.dwl"
							variableName="spielType" />
					</ee:variables>
				</ee:transform>
				<ee:transform
					doc:name="var-smsSpiel,var-auditLog(failure)"
					doc:id="ee0784f9-70af-47a2-871f-98f338ad2bec">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable resource="dw/get-sms-spiel.dwl"
							variableName="smsSpiel" />
						<ee:set-variable
							resource="dw/var-auditLog-failure.dwl" variableName="auditLog" />
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="END- Brand and State Check"
			doc:id="6e639040-daa6-4b99-bf1a-ace8435fe943"
			message="END- Brand and State Check - STEP 3: REDIS LOGIC (BRAND &amp; STATE LOOKUP)" />
	</sub-flow>
	<sub-flow name="impl-subscription-process-bonus-subflow"
		doc:id="7bb099ac-e3b6-485b-8194-e06a87347d08">
		<choice doc:name="Choice"
			doc:id="f97e8cac-5b4c-4eb8-8f7d-825b58a3b37e">
			<when expression="#[vars.stateResponse.result.state == 1]">
				<ee:transform doc:name="var-spielType(dual-bonus)"
					doc:id="1811f09a-a853-4ccb-a64f-6a97aa7e8875">
					<ee:message />
					<ee:variables>
						<ee:set-variable
							resource="dw/var-spielType-dual-bonus.dwl"
							variableName="spielType" />
					</ee:variables>
				</ee:transform>
				<ee:transform
					doc:name="var-smsSpiel, var-auditLog(success)"
					doc:id="3b7e6ae3-0fd5-4bf4-a28c-cf667dcf2697">
					<ee:message />
					<ee:variables>
						<ee:set-variable resource="dw/get-sms-spiel.dwl"
							variableName="smsSpiel" />
						<ee:set-variable
							resource="dw/var-auditLog-sucess.dwl" variableName="auditLog" />
					</ee:variables>
				</ee:transform>
			</when>
			<when
				expression="#[vars.brand.'brand-name' == &quot;Postpaid&quot;]">
				<ee:transform doc:name="var-spielType(rejected)"
					doc:id="2f51c368-1d85-4629-ac6b-2c2084d0f870">
					<ee:message />
					<ee:variables>
						<ee:set-variable
							resource="dw/var-spielType-rejected.dwl" variableName="spielType" />
					</ee:variables>
				</ee:transform>
				<ee:transform
					doc:name="var-smsSpiel, var-auditLog(failure)"
					doc:id="67ff2aab-2446-4256-9764-b50e8feac3b7">
					<ee:message />
					<ee:variables>
						<ee:set-variable resource="dw/get-sms-spiel.dwl"
							variableName="smsSpiel" />
						<ee:set-variable
							resource="dw/var-auditLog-failure.dwl" variableName="auditLog" />
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise>
				<flow-ref doc:name="impl-subscription-get-bonus-subflow"
					doc:id="faa47340-4079-4611-a588-9265c076d6ed"
					name="impl-subscription-get-bonus-subflow" />
				<logger level="INFO" doc:name="Proceed to Provision flow"
					doc:id="0368ddef-6fc3-486f-aec7-4042862de51a"
					message="Proceed - STEP 5: FACEBOOK PROVISIONING/DEPROVISIONING" />
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="impl-subscription-process-opt-out-subflow"
		doc:id="230b2f75-82af-48cc-b1d1-621ed4f8b0d5">
		<choice doc:name="IS State found?"
			doc:id="5a02223b-40b5-492d-9209-16c8c3d01d20">
			<when expression="#[vars.stateResponse.result.state == 0]">
				<ee:transform doc:name="var-spielType(dual off)"
					doc:id="6cd8e65b-652a-4e59-8909-d1373bbaac69">
					<ee:message />
					<ee:variables>
						<ee:set-variable
							resource="dw/var-spielType-dual-off.dwl" variableName="spielType" />
					</ee:variables>
				</ee:transform>
				<ee:transform
					doc:name="var-smsSpiel, var-auditLog(success)"
					doc:id="b5cdadc6-6f8e-45de-a78d-e2d0443d235c">
					<ee:message />
					<ee:variables>
						<ee:set-variable resource="dw/get-sms-spiel.dwl"
							variableName="smsSpiel" />
						<ee:set-variable
							resource="dw/var-auditLog-sucess.dwl" variableName="auditLog" />
					</ee:variables>
				</ee:transform>
			</when>
			<when expression="#[vars.stateResponse.result.state == 1]">
				<ee:transform doc:name="var-spielType(normal off)"
					doc:id="46ea4617-e5da-4bd4-bc77-2c37f8f7ab90">
					<ee:message />
					<ee:variables>
						<ee:set-variable
							resource="dw/var-spielType-normal-off.dwl"
							variableName="spielType" />
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Proceed to Deprovision flow"
					doc:id="dac7fe85-7341-4778-a303-137ff7bb37e9"
					message="Proceed - STEP 5: FACEBOOK PROVISIONING/DEPROVISIONING" />
			</when>
			<otherwise>
				<ee:transform doc:name="var-spielType(not registered)"
					doc:id="5da39d96-954b-4b58-8e27-c8a9f34829e7">
					<ee:message />
					<ee:variables>
						<ee:set-variable
							resource="dw/var-spielType-not-registered.dwl"
							variableName="spielType" />
					</ee:variables>
				</ee:transform>
				<ee:transform
					doc:name="var-smsSpiel, var-auditLog(success)"
					doc:id="cdd3bcb1-d026-4265-80ee-38ccc9dc00cc">
					<ee:message />
					<ee:variables>
						<ee:set-variable resource="dw/get-sms-spiel.dwl"
							variableName="smsSpiel" />
						<ee:set-variable
							resource="dw/var-auditLog-sucess.dwl" variableName="auditLog" />
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="impl-subscription-process-opt-in-subflow"
		doc:id="47a79029-c2eb-4ec0-acef-7392b4c63a77">
		<choice doc:name="IS State found?"
			doc:id="fba108f2-8612-43da-8e3f-070ea96f2781">
			<when expression="#[vars.stateResponse.result.state == 1]">
				<ee:transform doc:name="var-spielType(dual provision)"
					doc:id="15ddd074-31bd-4cb0-b5be-67e9c9ba1371">
					<ee:message />
					<ee:variables>
						<ee:set-variable
							resource="dw/var-spielType-dual-provisioning.dwl"
							variableName="spielType" />
					</ee:variables>
				</ee:transform>
				<ee:transform
					doc:name="var-smsSpiel, var-auditLog(success)"
					doc:id="ed019e7e-480f-4de9-b4eb-5a12979a7fb5">
					<ee:message />
					<ee:variables>
						<ee:set-variable resource="dw/get-sms-spiel.dwl"
							variableName="smsSpiel" />
						<ee:set-variable
							resource="dw/var-auditLog-sucess.dwl" variableName="auditLog" />
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Proceed to Eligibility check"
					doc:id="50ff3ded-6f2c-4f36-a012-ac2efc485a30" />
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="impl-subscription-post-state-subflow"
		doc:id="353c9ba2-1171-4c3d-912a-9afb9cf95476">
		<logger level="INFO" doc:name="START - State Caching"
			doc:id="067d3c99-54d2-43d4-a64d-d6504d18273a"
			message="START - State Caching - STEP 6: UPDATE REDIS STATE" />
		<ee:transform doc:name="Payload to Redis API Request"
			doc:id="c2c111e9-76c8-4280-a0b2-40ef2986a733">
			<ee:message>
				<ee:set-payload
					resource="dw/payload-redis-api-post-state-request.dwl" />
			</ee:message>
		</ee:transform>
		<until-successful maxRetries="3"
			doc:name="Until Successful"
			doc:id="a403b0e0-cc43-44b7-8b47-fff85dcc87f8"
			millisBetweenRetries="5000">
			<try doc:name="Try" doc:id="0d34fcc0-6056-477b-897a-d7c62bf400b4">
				<flow-ref doc:name="sys-post-state-subflow"
					doc:id="60da4d68-de6b-4003-bcfc-97cf4844385a"
					name="sys-redis-api-post-state-msisdn-subflow" />
				<error-handler>
					<on-error-continue enableNotifications="true"
						logException="true" doc:name="On Error Continue"
						doc:id="de0b026d-5261-4872-8ec9-70ada1bdf0ee" type="ANY">
						<logger level="INFO" doc:name="Logger"
							doc:id="fefe738f-c3df-4c76-81a1-4d217dc0e0b3" />
					</on-error-continue>
				</error-handler>
			</try>
			<choice doc:name="Choice"
				doc:id="d5af90db-947a-4ff4-af75-9ec08c352827">
				<when expression="#[attributes.statusCode != 201]">
					<logger level="INFO" doc:name="Logger"
						doc:id="43095d7e-f4ca-4896-b45b-36aa0702d52d"
						message='#[{&#10;  "step": "6 - Cache Save",&#10;  //"transactionId;" "idss",&#10;  "msisdn": "63xxxxxxxxxx",&#10;  "request_type": "Opt-In / Opt-Out / Bonus",&#10;  "cache_key": "spectre-freefb-63xxxxxxxxxx",&#10;  "cache_value": "1 or 0",&#10;  "attempt": 3,&#10;  "status": "failure",&#10;  "error": "Connection timeout / Write error / null",&#10;  "timestamp": "2025-05-30T10:30:15Z"&#10;}]' />
				</when>
			</choice>
		</until-successful>
		<logger level="INFO" doc:name="END- State Caching"
			doc:id="eff6d585-cdd8-493f-a785-a78cc1219840"
			message="START - State Caching - STEP 6: UPDATE REDIS STATE" />
	</sub-flow>
	<sub-flow name="impl-subscription-check-eligibility-subflow"
		doc:id="badefcfd-e27d-4df8-8b80-f25111eb2cdd">
		<logger level="INFO"
			doc:name="START - Check Eligibility Process"
			doc:id="ef643cf9-c369-40b8-8978-b139f0b781d5"
			message="START - Check Eligibility Process - STEP 4: ELIGIBILITY CHECK" />
		<ee:transform
			doc:name="Payload TO NF API Request, Payload TO BSS API Request"
			doc:id="f030769d-398d-41ca-b327-8457e9b8df39">
			<ee:message>
				<ee:set-payload
					resource="dw/payload-nf-api-request.dwl" />
			</ee:message>
		</ee:transform>
		<choice doc:name="Identify BrandId"
			doc:id="527bd8e4-9594-48dc-b0d5-7eb7b9054d1c">
			<when expression='#[[1, 2] contains (vars.brand."brand-id")]'>
				<flow-ref doc:name="sys-nf-api-get-prepaid-msisdn-subflow"
					doc:id="4a60da90-8dc9-44ad-844b-dc47ff3e8c8d"
					name="sys-nf-api-get-prepaid-msisdn-subflow" />
				<choice doc:name="Choice"
					doc:id="b76230c2-bcda-4e9d-afb0-8675f06d6034">
					<when
						expression="#[!isEmpty(payload.bundles filter ($.service_id == vars.originalPayload.'as-service-id' and now() &lt; ($.expiry_date as LocalDateTime {format: &quot;yyyy-MM-dd HH:mm:ss&quot;})))]">
						<ee:transform
							doc:name="NF API Response to Payload Response"
							doc:id="f93609c6-8acb-49ff-ac3e-e676062ff794">
							<ee:message>
							</ee:message>
							<ee:variables>
								<ee:set-variable
									resource="dw/payload-nf-api-response.dwl"
									variableName="expiryDetails" />
							</ee:variables>
						</ee:transform>
						<choice doc:name="Choice"
							doc:id="0d6262a3-64a5-4fff-8fd5-635b59f48617">
							<when expression="vars.stateResponse.result.state == 0">
								<ee:transform
									doc:name="var-spielType(reactivation)"
									doc:id="f2d11832-3b20-4b52-bcfa-ac6d17614ad2">
									<ee:message />
									<ee:variables>
										<ee:set-variable
											resource="dw/var-spielType-reactivation.dwl"
											variableName="spielType" />
									</ee:variables>
								</ee:transform>
							</when>
							<otherwise>
								<ee:transform doc:name="var-spielType(eligable)"
									doc:id="a9a0297f-c19b-4fef-94f3-9d5d9767523f">
									<ee:message />
									<ee:variables>
										<ee:set-variable
											resource="dw/var-spielType-eligible.dwl"
											variableName="spielType" />
									</ee:variables>
								</ee:transform>
							</otherwise>
						</choice>
					</when>
					<otherwise>
						<ee:transform doc:name="var-spielType(ineligible)"
							doc:id="b6e0bf84-9664-4e31-8735-e7997fb28904">
							<ee:message />
							<ee:variables>
								<ee:set-variable
									resource="dw/var-spielType-ineligible.dwl"
									variableName="spielType" />
							</ee:variables>
						</ee:transform>
						<ee:transform
							doc:name="var-smsSpiel, var-auditLog(failure)"
							doc:id="4ebfe5ba-59e1-4e2e-b639-f5f5f40da56b">
							<ee:message />
							<ee:variables>
								<ee:set-variable resource="dw/get-sms-spiel.dwl"
									variableName="smsSpiel" />
								<ee:set-variable
									resource="dw/var-auditLog-failure.dwl" variableName="auditLog" />
							</ee:variables>
						</ee:transform>
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<flow-ref doc:name="sys-bss-api-get-postpiad-msisdn-flow"
					doc:id="be8bdb96-659f-428f-afbd-15981d5f2ff5"
					name="sys-bss-api-get-postpaid-msisdn-subflow" />
				<choice doc:name="Choice"
					doc:id="ee91fcaa-1312-4adf-a59d-f28b106e3060">
					<when expression="#[!isEmpty(payload.bundles)]">
						<ee:transform
							doc:name="BSS API Response to Payload Reponse"
							doc:id="c3cccf06-1b26-404c-94fa-f72b0e39f060">
							<ee:message>
							</ee:message>
							<ee:variables>
								<ee:set-variable
									resource="dw/payload-bss-api-response.dwl"
									variableName="expiryDetails" />
							</ee:variables>
						</ee:transform>
						<choice doc:name="Choice"
							doc:id="ca688cc4-6283-48ad-bad6-30e68a0df589">
							<when expression="vars.stateResponse.result.state == 0">
								<ee:transform
									doc:name="var-spielType(reactivation)"
									doc:id="a416184a-af7b-4b00-b1c7-00e4a1059e90">
									<ee:message>
									</ee:message>
									<ee:variables>
										<ee:set-variable
											resource="dw/var-spielType-reactivation.dwl"
											variableName="spielType" />
									</ee:variables>
								</ee:transform>
							</when>
							<otherwise>
								<ee:transform doc:name="var-spielType(eligable)"
									doc:id="be79eada-da1d-4164-90f3-ae8927bf5929">
									<ee:message>
									</ee:message>
									<ee:variables>
										<ee:set-variable
											resource="dw/var-spielType-eligible.dwl"
											variableName="spielType" />
									</ee:variables>
								</ee:transform>
							</otherwise>
						</choice>
					</when>
					<otherwise>
						<ee:transform doc:name="var-spielType(ineligable)"
							doc:id="d4091dad-a5a3-4219-81e0-c57816a8a936">
							<ee:message>
								<ee:set-payload
									resource="dw/var-spielType-ineligible.dwl" />
							</ee:message>
							<ee:variables>
								<ee:set-variable variableName="spielType"><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<ee:transform
							doc:name="var-smsSpiel, var-auditLog(failure)"
							doc:id="5b3dc34c-65f5-4e60-8040-6486c283ea8a">
							<ee:message />
							<ee:variables>
								<ee:set-variable resource="dw/get-sms-spiel.dwl"
									variableName="smsSpiel" />
								<ee:set-variable
									resource="dw/var-auditLog-failure.dwl" variableName="auditLog" />
							</ee:variables>
						</ee:transform>
					</otherwise>
				</choice>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="END - Check Eligibility Process"
			doc:id="32230055-69ae-4d91-87a3-5e0b717c5e15"
			message="END - Check Eligibility Process - STEP 4: ELIGIBILITY CHECK" />
	</sub-flow>
	<sub-flow
		name="impl-subscription-post-facebook-provision-subflow"
		doc:id="5e05202e-e628-4eeb-a9c0-c2ac48c2f256">
		<logger level="INFO" doc:name="START - Provision Process"
			doc:id="8f6573cd-c964-4a12-af11-e2ed137ce718"
			message="START - Provision Process - STEP 5: FACEBOOK PROVISIONING/DEPROVISIONING" />
		<ee:transform doc:name="Payload TO Provision API Request"
			doc:id="48d5fb15-f034-4f1d-bcc2-ad0b7b90ee8e">
			<ee:message>
				<ee:set-payload
					resource="dw/payload-provision-api-request.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="sys-facebook-api-post-provision-subflow"
			doc:id="b6b9e7e2-08ff-41bc-b325-8c7972a5a4fd"
			name="sys-facebook-api-post-provision-subflow" />
		<choice doc:name="Choice"
			doc:id="02407f94-947c-4314-83c4-845cc68778fd">
			<when expression="#[attributes.statusCode == 201]">
				<choice doc:name="Choice"
					doc:id="68f8dd6f-6912-45a2-9693-1d946be6e4fc">
					<when
						expression='#[vars.formattedSubscriberData.keyword == "BONUS"]'>
						<flow-ref
							doc:name="impl-subscription-delete-bonus-subflow"
							doc:id="13234db9-edd1-48a0-9406-1ad385720593"
							name="impl-subscription-delete-bonus-subflow" />
					</when>
				</choice>
				<ee:transform doc:name="var-state"
					doc:id="3863dc15-72e6-4361-9340-c69435505a23">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable resource="dw/var-state.dwl"
							variableName="state" />
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="var-auditLog(success)"
					doc:id="87c1e238-6519-40b1-a881-6a8ee236022d">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable
							resource="dw/var-auditLog-success.dwl" variableName="auditLog" />
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="var-spielType"
					doc:id="a6966731-71cc-407c-87d6-144ce6abeac6">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable
							resource="dw/var-spielType-fb-unsuccess.dwl"
							variableName="spielType" />
					</ee:variables>
				</ee:transform>
				<ee:transform
					doc:name="var-smsSpiel, var-auditLog(failure)"
					doc:id="cb18f1b4-2f54-4857-a324-9d73dafa259b">
					<ee:message />
					<ee:variables>
						<ee:set-variable resource="dw/get-sms-spiel.dwl"
							variableName="smsSpiel" />
						<ee:set-variable
							resource="dw/var-auditLog-failure.dwl" variableName="auditLog" />
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="END  - Provision Process "
			doc:id="af797a39-04d9-4b63-9049-6823ec996b34"
			message="END  - Provision Process - STEP 5: FACEBOOK PROVISIONING/DEPROVISIONING" />
	</sub-flow>
	<sub-flow name="impl-subscription-put-audit-subflow"
		doc:id="0c114945-f0a3-42b1-b2a8-7ef7d1693e05">
		<logger level="INFO" doc:name="START- Update Audit Logging"
			doc:id="e1dc0fc5-51a6-41dd-9653-fe4e4e1b1a26"
			message="START- Update Audit Logging - STEP 7: UPDATE AUDIT LOGGING" />
		<ee:transform doc:name="Payload to Audit API Request"
			doc:id="c0f31921-8a8c-473a-857c-de553a800dd0">
			<ee:message>
				<ee:set-payload
					resource="dw/payload-put-audit-request.dwl" />
			</ee:message>
		</ee:transform>
		<until-successful maxRetries="3"
			doc:name="Until Successful"
			doc:id="9c148838-f733-40d9-ae84-69a2a581f516"
			millisBetweenRetries="5000">
			<try doc:name="Try" doc:id="a885e43d-9511-47a7-80b3-b898237a2752">
				<flow-ref doc:name="sys-audit-api-put-audit-subflow"
					doc:id="82eee915-548b-4c4d-8d86-0407536d902e"
					name="sys-audit-api-put-audit-subflow" />
				<error-handler>
					<on-error-propagate enableNotifications="true"
						logException="true" doc:name="On Error Propagate"
						doc:id="24af72a3-0194-4dba-8463-dbfd6a4e9a52" type="ANY">
						<logger level="INFO" doc:name="Proceed anyway"
							doc:id="26dc6070-178b-4780-a439-59ad1777abe6" message='#["Failed to update audit log. Error: " ++ error.errorType ++ " - " ++ error.errorMessage]'/>
					</on-error-propagate>
				</error-handler>
			</try>
			<choice doc:name="IS successful?"
				doc:id="558f5d09-4a55-4689-a3be-676c69c0fcb0">
				<when expression="#[attributes.statusCode != 200]">
					<logger level="INFO" doc:name="Log Failure"
						doc:id="3da31939-4003-4372-9060-a4c4a90bd5d5" message="log failure"/>
				</when>
			</choice>
		</until-successful>
		<logger level="INFO" doc:name="END - Update Audit Logging"
			doc:id="dd75d9e7-9a71-4d19-94f4-41c212547619"
			message="END - Update Audit Logging - STEP 7: UPDATE AUDIT LOGGING" />
	</sub-flow>
	<sub-flow name="impl-subscription-post-sms-subflow"
		doc:id="ab7f9e86-0987-4639-a35d-cc177bb928f2">
		<logger level="INFO" doc:name="START - SMS Messaging Process"
			doc:id="85275436-9068-49ef-8876-def884faa94a"
			message="START - SMS Messaging Process - STEP 8: SMS MESSAGING" />
		<ee:transform doc:name="var-smsSpiel"
			doc:id="57302fc3-03b2-46ca-a460-a21e757a9887">
			<ee:message />
			<ee:variables>
				<ee:set-variable resource="dw/get-sms-spiel.dwl"
					variableName="smsSpiel" />
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Payload to SMS API Request"
			doc:id="2d3a1a9b-6712-4b77-bf49-108c15b9338a">
			<ee:message>
				<ee:set-payload
					resource="dw/payload-post-sms-api-request.dwl" />
			</ee:message>
		</ee:transform>
		<until-successful maxRetries="3"
			doc:name="Until Successful"
			doc:id="cfc90b85-e3be-449c-b1a2-758e708b7e41"
			millisBetweenRetries="50000">
			<try doc:name="Try" doc:id="318708a6-c9a9-4ccf-b492-feb1c6740850">
				<flow-ref doc:name="sys-sms-api-subflow"
					doc:id="a53cccc2-654c-4066-8d5b-7284f8434493"
					name="sys-sms-api-post-message-subflow" />
				<error-handler>
					<on-error-propagate enableNotifications="true"
						logException="true" doc:name="On Error Propagate"
						doc:id="03e38988-43d9-4ccd-ba88-3ba0a4ff8c26" type="ANY">
						<logger level="INFO" doc:name="Proceed Anyway"
							doc:id="3e471234-41e0-4af0-8984-c4cc3299ef9f" message='#["Failed to send sms. Error: " ++ error.errorType ++ " - " ++ error.errorMessage]'/>
					</on-error-propagate>
				</error-handler>
			</try>
			<choice doc:name="Choice"
				doc:id="969a8d8c-9365-49f4-8eba-9962286d122f">
				<when expression="#[attributes.statusCode != 200]">
					<logger level="INFO" doc:name="Log Failure"
						doc:id="0a2458bb-1d78-4d63-b5a7-1b473e312c01"
						message="log failure" />
				</when>
			</choice>
		</until-successful>
		<logger level="INFO" doc:name="END - SMS Messaging Process"
			doc:id="d2e18799-9a72-40a5-8add-3e5dc9051b0c"
			message="END - SMS Messaging Process - STEP 8: SMS MESSAGING" />
	</sub-flow>
	<sub-flow name="impl-subscription-get-bonus-subflow"
		doc:id="c886cbf7-afd9-4281-a813-3a7b2133adef">
		<logger level="INFO" doc:name="START - Get msisdn Bonus"
			doc:id="e3a1162a-aea4-45a8-9f0a-adffe01e944e"
			message="END- Bonus Handling" />
		<flow-ref
			doc:name="sys-mongodb-api-get-whitelist-msisdn-subflow"
			doc:id="0fdd0308-1b66-4eb4-99e3-c2a4d86df0b6"
			name="sys-mongodb-api-get-whitelist-msisdn-subflow" />
		<choice doc:name="Choice"
			doc:id="d0f4c68c-1ee3-45c7-9d31-a3f6df96a0fa">
			<when
				expression="#[(isEmpty(payload.result) and payload.results.eligible == true)]">
				<ee:transform
					doc:name="MongoDB Respose TO API Response"
					doc:id="813d2baa-269a-4054-9038-e9cc891a9746">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable
							resource="dw/payload-get-mongodb-api-response.dwl"
							variableName="expiryDetails" />
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="var - spielType"
					doc:id="85de66e5-ccba-4669-b9ae-49b44ff9161c">
					<ee:message />
					<ee:variables>
						<ee:set-variable
							resource="dw/var-spielType-first-time.dwl"
							variableName="spielType" />
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="var - spielType(ineligible)"
					doc:id="4e7fbd5d-572c-4321-8675-d3e54d03c72c">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable resource="dw/var-spielType-ineligible.dwl" variableName="spielType" />
					</ee:variables>
				</ee:transform>
				<ee:transform
					doc:name="var-smsSpiel, var-auditLog(failure)"
					doc:id="c3e22efb-36e5-4ffc-a1fb-72fdccb042df">
					<ee:message />
					<ee:variables>
						<ee:set-variable resource="dw/get-sms-spiel.dwl"
							variableName="smsSpiel" />
						<ee:set-variable
							resource="dw/var-auditLog-failure.dwl" variableName="auditLog" />
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="END - Get msisdn Bonus "
			doc:id="8dad676f-4dbc-43c2-8e21-ef46e62d9ea3"
			message="END - Get msisdn Bonus " />
	</sub-flow>
	<sub-flow name="impl-subscription-delete-bonus-subflow"
		doc:id="aa665024-e4b2-499e-af6e-9281cdfd41fa">
		<logger level="INFO" doc:name="START - Mongdb Delete msisdn "
			doc:id="2b0b2435-b927-4e7d-bac2-0a1554c8e0db"
			message="START - Mongdb Delete msisdn " />
		<until-successful maxRetries="3"
			doc:name="Until Successful"
			doc:id="41d49cf9-ca58-4736-b91a-2597490b6dc8"
			millisBetweenRetries="5000">
			<try doc:name="Try" doc:id="5addf2c4-ba95-4a6f-9104-f8f4a18fd380">
				<flow-ref
					doc:name="sys-mongodb-api-delete-whitelist-msisdn-subflow"
					doc:id="a2d06424-5d43-41c0-b999-f0fb57c8ab52"
					name="sys-mongodb-api-delete-whitelist-msisdn-subflow" />
				<error-handler>
					<on-error-propagate enableNotifications="true"
						logException="true" doc:name="On Error Propagate"
						doc:id="1aa62361-68c4-4dd0-b59f-6539e21eab13" type="ANY">
						<logger level="INFO" doc:name="Proceed Anyway"
							doc:id="4a42ff9c-a6f2-4099-99ea-07a94b90f984" message='#["Failed to delete msisdn whitelist. Error: " ++ error.errorType ++ " - " ++ error.errorMessage]'/>
					</on-error-propagate>
				</error-handler>
			</try>
			<choice doc:name="Choice"
				doc:id="21708bf7-5ef7-420f-b983-e96c3e01fc54">
				<when expression="#[attributes.statusCode != 200]">
					<logger level="INFO" doc:name="Log Failure"
						doc:id="562be86f-6ab6-485e-92e2-9124d11941f1" message="Log Failure "/>
				</when>
			</choice>
		</until-successful>
		<logger level="INFO" doc:name="END - Mongdb Delete msisdn"
			doc:id="35ae0728-de2f-4188-bbfc-ebe30b9be8d2"
			message="END - Mongdb Delete msisdn " />
	</sub-flow>
</mule>
