src/main/mule/imlp/impl-eligibility-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="impl-elgibility-check-flow" doc:id="5ecc8f3c-73aa-41d3-89ec-81d0899f5eed" >
		<choice doc:name="Identify BrandId" doc:id="e524c1a2-5b97-45d9-be52-2acb7b9c748e">
			<when expression='#[[1, 2] contains (vars.brand."brand-id")]'>
				<flow-ref doc:name="sys-nf-api-flowsSub_Flow" doc:id="5c954196-c1d3-4499-abc7-b5431b425249" name="sys-nf-api-flowFlow" />
				<validation:is-true doc:name="Is true" doc:id="0d0ef80a-d50f-49e3-9984-be57cc65256d" expression="#[!isEmpty(payload.bundles filter ($.service_id == vars.originalPayload.'as-service-id' and now() &lt; ($.expiry_date as LocalDateTime {format: &quot;yyyy-MM-dd HH:mm:ss&quot;})))]" message="Service Id is Mismatch or the expority date is greater than today's date." />
				<ee:transform doc:name="Transform Message" doc:id="9262a61a-a1cb-461e-9664-25d7c99ac3bc" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json

var filteredData =   payload.bundles filter (
        $.service_id == vars.originalPayload.service_id 
        and 
        now() < ($.expiry_date as LocalDateTime {format: "yyyy-MM-dd HH:mm:ss"})
    )
var rawDate = filteredData[0].expiry_date
var unixFormat = rawDate as LocalDateTime { format: "yyyy-MM-dd HH:mm:ss" } as DateTime as Number

---
 
{
  "service-id": filteredData[0].service_id,  
  "unix-expiry-date": unixFormat
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<choice doc:name="Choice" doc:id="b76e7a6d-31e8-48d2-9b5a-0d5e7e0ae920" >
					<when expression="vars.stateRepose == 0">
						<ee:transform doc:name="smsSpielMapping" doc:id="73a05d4f-5b38-4d6e-8351-73a7b971302c" >
							<ee:message />
							<ee:variables >
								<ee:set-variable variableName="smsSpielMapping" ><![CDATA[%dw 2.0
output application/json
var spielMap = readUrl("classpath://dw/mapping_payload_sms_spiels.json", "application/json")
var keyword = vars.smsKeyword.keyword
var channel = vars.brand.'brand-name'

---
{
    "sms-spiel": spielMap[keyword][channel].eligible
}]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</when>
					<otherwise >
						<ee:transform doc:name="smsSpielMapping" doc:id="a064c34c-b4df-415c-8040-4e8208c91f78" >
							<ee:message />
							<ee:variables >
								<ee:set-variable variableName="smsSpielMapping" ><![CDATA[%dw 2.0
output application/json
var spielMap = readUrl("classpath://dw/mapping_payload_sms_spiels.json", "application/json")
var keyword = vars.smsKeyword.keyword
var channel = vars.brand.'brand-name'

---
{
    "sms-spiel": spielMap[keyword][channel].reactivation
}]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</otherwise>
				</choice>
			
</when>
			<otherwise>
				<flow-ref doc:name="Flow ref to get-bss-msisdn-eligibility-flow" doc:id="e9da4451-755b-403d-9f7a-09048078c5ea" name="get-bss-msisdn-eligibility-flow" />
				<validation:is-true doc:name="Is true" doc:id="2d1d284c-2a4e-4d06-91c6-33053954a917" expression="#[!isEmpty(payload.bundles)]"/>
				<ee:transform doc:name="Transform Message" doc:id="5c2af4e5-f43e-4332-97f7-2238df804d63" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json

var defaultExpiryDate = "2025-12-31 23:59:59"
var unixFormat = defaultExpiryDate as LocalDateTime { format: "yyyy-MM-dd HH:mm:ss" } as DateTime as Number

---
 
{
  "service-id": vars.orginalPayload.service_id,  
  "unix-expiryDate": unixFormat
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<choice doc:name="Choice" doc:id="0a8944a0-d001-4ad0-90ed-4a20c7ae82fc" >
					<when expression="vars.stateRepose == 0" >
						<ee:transform doc:name="smsSpielMapping" doc:id="de1d77e5-4f40-4b70-ad66-456acb20c496" >
							<ee:message />
							<ee:variables >
								<ee:set-variable variableName="smsSpielMapping" ><![CDATA[%dw 2.0
output application/json
var spielMap = readUrl("classpath://dw/mapping_payload_sms_spiels.json", "application/json")
var keyword = vars.smsKeyword.keyword
var channel = vars.brand.'brand-name'

---
{
    "sms-spiel": spielMap[keyword][channel].eligible
}]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</when>
					<otherwise >
						<ee:transform doc:name="smsSpielMapping" doc:id="3c7f2b4b-57d2-4b65-b691-8d394d79c308" >
							<ee:message />
							<ee:variables >
								<ee:set-variable variableName="smsSpielMapping" ><![CDATA[%dw 2.0
output application/json
var spielMap = readUrl("classpath://dw/mapping_payload_sms_spiels.json", "application/json")
var keyword = vars.smsKeyword.keyword
var channel = vars.brand.'brand-name'

---
{
    "sms-spiel": spielMap[keyword][channel].reactivation
}]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</otherwise>
				</choice>
			
</otherwise>
		</choice>
	</flow>
</mule>
