src/main/mule/imlp/impl-audit-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="impl-post-audit-fllow"
		doc:id="3cc08cc0-ffff-4f8f-b613-9e1a33f802c9">
		<ee:transform doc:name="Payload to Audit API Request"
			doc:id="d33fb596-aa86-4087-9b31-6b2dcdcd4c33">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "csp_txid": payload.'transaction-id',
  "sms_message_string":payload.'sms-message',
  "sub_mobtel": payload.msisdn,
  "sms_source_address": payload.'sms-source-address',
  "sub_device_details":payload.'sub-device',
  "hplmn": payload.hlprm,
  "as_service_id": payload.'as-service-id'
}

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="sys-post-audit-api-subflow"
			doc:id="a4119614-cb2c-4b9c-95e0-116eabe71199"
			name="sys-post-audit-api-subflow" />
		<choice doc:name="IS successful?"
			doc:id="fc5e25da-caf9-4bf9-aed7-4110a4b9a6fc">
			<when expression="#[attributes.statusCode == 200]">
				<ee:transform doc:name="var-auditId"
					doc:id="d7171f47-9775-4fd4-8557-d08c86ccfe24">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="auditId"><![CDATA[%dw 2.0
output application/json
---
{
	"audit-id": payload.id
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise>
				<raise-error doc:name="AUDIT:ERROR"
					doc:id="cf9fab80-ecdf-43af-84f1-789da910a5d9" type="AUDIT:ERROR"
					description="Failed to log information to AuditDB." />
			</otherwise>
		</choice>
		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error Propagate"
				doc:id="7c95d991-71da-4d6c-8ce1-b9db112fb18f" type="AUDIT:ERROR">
				<logger level="INFO" doc:name="Logger"
					doc:id="414c7f48-54a1-47b2-81b5-40d032eaa747" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="impl-put-audit-flow"
		doc:id="d1313f6a-67c2-47fa-9b9d-1f8ad361adc5">
		<ee:transform doc:name="Payload to Audit API Request"
			doc:id="70d0627f-0cfc-4eda-9c1d-c3186632af3a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"audit-id": vars.auditId."audit-id"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<!-- [STUDIO:"Until Successful"]<until-successful maxRetries="3"
			doc:name="Until Successful"
			doc:id="b82d2db4-ee0a-4c0e-914d-926993c9cacb"
			millisBetweenRetries="5000">
			<try doc:name="Try" doc:id="55ef8205-aecf-408b-afbe-672f371b4be1">
			<flow-ref doc:name="sys-put-audit-api-subflow" doc:id="baba4384-4cac-4401-a4bb-b4ae7921a061" name="sys-put-audit-api-subflow" />
				<error-handler>
					<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="75949b9b-82ab-4ae2-a20c-37a494a136e6" type="ANY">
						<logger level="INFO" doc:name="Logger" doc:id="a75c2c02-4dd0-4a7d-aa73-71d75fc63da6" />
					</on-error-propagate>
				</error-handler>
			</try>
		</until-successful> [STUDIO] -->
		<ee:transform doc:name="Transform Message" doc:id="e4db26d4-a182-4401-a4a5-481c471b7460" >
			<ee:message >
				<ee:set-attributes ><![CDATA[%dw 2.0
output application/java
---
{
	"statusCode": 200
}]]></ee:set-attributes>
			</ee:message>
		</ee:transform>
		<choice doc:name="IS successful?" doc:id="9f9c34da-8f79-4849-a793-5ad56d8c179b" >
			<when expression="#[attributes.statusCode == 200]" >
				<ee:transform doc:name="var-auditId" doc:id="74679151-5068-4ad7-9316-1f88b78aea64" >
					<ee:message />
					<ee:variables >
						<ee:set-variable variableName="auditId" ><![CDATA[%dw 2.0
output application/json
---
{
	"audit-id": payload.id
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="AUDIT:ERROR" doc:id="26e01b92-cc67-4367-af50-2a43599af09f" type="AUDIT:ERROR" description="Failed to log information to AuditDB." />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9588e47f-225f-4b0b-867b-07466b1c700e" type="AUDIT:ERROR" >
				<logger level="INFO" doc:name="Logger" doc:id="7c0a5ba1-7881-4655-9469-0b77e007cead" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
