src/main/mule/imlp/impl-bonus-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="impl-get-whitelist-flow" doc:id="edb8adf6-159c-4100-8cae-cffaeb33c4d6" >
		<flow-ref doc:name="get-msisdn-whitelist-flow" doc:id="d6afa47b-bd5d-4c20-96fe-f01cc02833a9" name="get-msisdn-whitelist-flow"/>
		<choice doc:name="Choice" doc:id="99dc84f5-cd97-4778-ac3b-375d5a7d6a8f" >
			<when expression="#[(isEmpty(payload.result) and payload.results.eligible == true)]">
				<ee:transform doc:name="Transform Message" doc:id="d3e06656-8cee-454a-a61b-932c25e3e328">
			<ee:message>
			</ee:message>
					<ee:variables >
						<ee:set-variable variableName="expiryDetails" ><![CDATA[%dw 2.0
output application/json

var bonusExpiry = now() + |P7D|
var expiryDate = bonusExpiry as String { format: "yyyy-MM-dd HH:mm:ss" }
var currentUnix = (now() as Number)
var expiryUnix = (bonusExpiry as Number)
var bonusTtl = expiryUnix - currentUnix
var serviceId = vars.originalPayload.'as-service-id'
---
{
  "service-id": serviceId,
  "expiry-date": expiryDate,
  "unix-expiry-date": expiryUnix,
  "ttl-seconds": bonusTtl
}]]></ee:set-variable>
					</ee:variables>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="31d744bb-e3d1-4d77-ae01-1e676216130d" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="smsSpielMapping" ><![CDATA[%dw 2.0
output application/json
var spielMap = readUrl("classpath://dw/mapping_payload_sms_spiels.json", "application/json")
var keyword = vars.smsKeywords.keyword
var channel = vars.brand.'brand-name'

---
{
    sms_spiel: spielMap[keyword][channel].not_eligable
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="59d16385-1475-4911-9b93-ba140c74c3e9" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="auditLog" ><![CDATA[%dw 2.0
output application/json
---
{
    "success": 0,
    "hasProcessorError": 1
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="impl-delete-whitelist" doc:id="9838645a-15aa-4dad-9199-a7ffcf178dda" >
		<until-successful maxRetries="5" doc:name="Until Successful" doc:id="823c5073-3929-4609-bcac-26aae24457f1" >
			<try doc:name="Try" doc:id="610e64df-3d72-47d3-a802-46289fad33e5">
			<flow-ref doc:name="get-msisdn-whitelist-flow" doc:id="035637e0-7bb5-41aa-96ce-c1b7b9b76e83" name="get-msisdn-whitelist-flow" />
				<error-handler >
					<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a7031c03-429d-4934-a1d8-49cda0a1b159" type="ANY">
						<logger level="INFO" doc:name="Logger" doc:id="6198af09-2396-490f-8a96-ccc2fdcc5734" />
					</on-error-propagate>
				</error-handler>
		</try>
		</until-successful>
	</flow>
</mule>
