src/main/mule/systems/sys-nf-api-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="sys-nf-api-get-prepaid-msisdn-flow" doc:id="7e644a4e-384f-49c6-bfb8-84e5989fe0af">
		<http:request method="GET" doc:name="GET /prepaid/{msisdn}" doc:id="c540448d-d5a4-42e7-a121-708bdc4a3bc1" config-ref="HTTP_Request_Config_NF_Api" path="${nf.path}">
			<http:headers><![CDATA[#[output application/java
---
{
	"X-Client-Id": p('nf.client_id'),
	"X-Client-Secret": p('nf.client_secret'),
	"X-Correlation-Id": correlationId
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	"msisdn" : payload.msisdn
}]]]></http:uri-params>
			<http:query-params><![CDATA[#[output application/java
---
{
	"brand" : vars.brand.'brand-id'
}]]]></http:query-params>
		</http:request>
		<error-handler ref="proc-subscription-api-Shared_Error_Handler" />
	</flow>
</mule>
