src/main/mule/system/sys-facebook-api-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="post-provision-to-facebook-flow" doc:id="a5e185d7-d85b-41bf-a0f5-eda51dc67843" >
		<ee:transform doc:name="Transform Message" doc:id="038b5b12-db12-469f-a8a9-c6cf60454d2f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
  "msisdn": "639171234567",
  "carrier-id": "1119",
  "provision": {
    "fb-product-id": "free",
    "expiration": 1718784000
  }
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="260e9e01-35bd-4c63-b986-e054642d7946" config-ref="HTTP_Request_Config_facebook_Api" path="${provision.path}">
			<http:headers ><![CDATA[#[{
	"X-Client-Id": p('provision.client_id'),
	"X-Client-Secret": p('provision.client_secret'),
	"X-Correlation-Id": correlationId
}]]]></http:headers>
		</http:request>
		<choice doc:name="Choice" doc:id="42b7ba53-68ad-47b2-b09e-0d805bc73eff" >
			<when expression="#[attributes.statusCode == '201']">
				<choice doc:name="Choice" doc:id="fbb9cc1f-31af-40ba-ba71-762893aca0e1" >
					<when expression='#[vars.originalPayload.keyword == "BONUS"]'>
						<flow-ref doc:name='Flow ref to delete-msisdn-whitelist-flow' doc:id="b983ce95-d0c3-4189-9bcf-2fae9cf7902f" name="delete-msisdn-whitelist-flow"/>
					</when>
					<otherwise>
						<logger level="INFO" doc:name="DO NOTHING" doc:id="3c5eb249-428d-4627-8bb0-1c928b81d6ef" />
					</otherwise>
				</choice>
				<ee:transform doc:name="set update log success = 1" doc:id="a8dff01e-ca1a-4ff7-9719-13038f2852b3" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="SYSTEM ERROR" doc:id="e57c5c1b-5f5a-46cd-9d07-9ec8ea9dec0c" />
			</otherwise>
		</choice>
	</flow>
</mule>
