src/main/mule/system/sys-facebook-api-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="post-provision-to-facebook-flow" doc:id="a5e185d7-d85b-41bf-a0f5-eda51dc67843" >
		<ee:transform doc:name="Transform Message" doc:id="038b5b12-db12-469f-a8a9-c6cf60454d2f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "msisdn": vars.originalPayload.full_msisdn,
  "carrier-id": vars.originalPayload.carrier_id,
  "provision": {
    "fb-product-id": payload.service_id default vars.originalPayload.service_id,
    "expiration": payload.unix_expiryDate default 1
  }
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="260e9e01-35bd-4c63-b986-e054642d7946" config-ref="HTTP_Request_Config_facebook_Api" path="${provision.path}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_id": p('provision.client_id'),
	"client_secret": p('provision.client_secret'),
	"X-Correlation-Id": correlationId
}]]]></http:headers>
		</http:request>
		<choice doc:name="Choice" doc:id="42b7ba53-68ad-47b2-b09e-0d805bc73eff" >
			<when expression="#[attributes.statusCode == 201]">
				<choice doc:name="Choice" doc:id="fbb9cc1f-31af-40ba-ba71-762893aca0e1" >
					<when expression='#[vars.originalPayload.keyword == "BONUS"]'>
						<flow-ref doc:name='Flow ref to delete-msisdn-whitelist-flow' doc:id="b983ce95-d0c3-4189-9bcf-2fae9cf7902f" name="delete-msisdn-whitelist-flow"/>
					</when>
					<otherwise>
						<logger level="INFO" doc:name="DO NOTHING" doc:id="3c5eb249-428d-4627-8bb0-1c928b81d6ef" />
					</otherwise>
				</choice>
				<ee:transform doc:name="set update log success = 1" doc:id="a8dff01e-ca1a-4ff7-9719-13038f2852b3">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json

var keyword = vars.originalPayload.keyword
var state = if (keyword == "OPT-IN" or keyword == "BONUS") 1 else 0
---
{
    state: state
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="c5628d8b-6d6e-4599-9ae6-1208ab2e4613" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="auditLog" ><![CDATA[%dw 2.0
output application/json
---
{
    "success": 1,
    "hasProcessorError": 0
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="0f7cc17f-9395-4b59-9340-a8ca524f2e9f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var spielMap = readUrl("classpath://dw/mapping_payload_sms_spiels.json", "application/json")
var keyword = vars.originalPayload.keyword
var channel = vars.brand.'brand-name'

---
{
    sms_spiel: spielMap[keyword][channel].fb_unsuccess
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="Transform Message1" doc:id="2fd2e746-fcf9-43cc-a085-bb3f54b2a32b" >
					<ee:message />
					<ee:variables >
						<ee:set-variable variableName="auditLog" ><![CDATA[%dw 2.0
output application/json
---
{
    "success": 0,
    "hasProcessorError": 1
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler ref="proc-subscription-api-Shared_Error_Handler" />
	</flow>
</mule>
