src/main/mule/system/sys-mongodb-api-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-msisdn-whitelist-flow"
		doc:id="720e2f54-7f61-49c2-a210-96e358d7d22f">
		<http:request method="GET" doc:name="GET/ whitelist/{msisdn}"
			doc:id="b6f5ae47-c163-4281-b2b9-23f6dbe84063"
			config-ref="HTTP_Request_Config_MongoDB_Api" path="${mongodb.path}">
			<http:headers><![CDATA[#[output application/java
---
{
	"X-Client-Id": p('mongodb.client_id'),
	"X-Client-Secret": p('mongodb.client_secret'),
	"X-Correlation-Id": correlationId
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	"msisdn" : vars.cleanMsisdn.msisdn
}]]]></http:uri-params>
		</http:request>

	</flow>
	<flow name="delete-msisdn-whitelist-flow" doc:id="d9e41f07-8b47-4ab9-b31f-c98be4e0c1de">
		<until-successful maxRetries="3" doc:name="Until Successful" doc:id="a155c2f5-2082-41ed-9629-a3226064a779">
				<try doc:name="Try" doc:id="1504182f-000c-4b33-9a38-b8a70daa65be">
				<http:request method="DELETE" doc:name="Request" doc:id="932ad56b-3baf-4bdb-a351-80292b9e1219" config-ref="HTTP_Request_Config_MongoDB_Api" path="${mongodb.path}">
			<http:headers><![CDATA[#[output application/java
---
{
	"X-Client-Id": p('mongodb.client_id'),
	"X-Client-Secret": p('mongodb.client_secret'),
	"X-Correlation-Id": correlationId
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	"msisdn" : vars.originalPayload.full_msisdn
}]]]></http:uri-params>
		</http:request>
				<error-handler>
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4e6ccaf2-3003-4706-8603-3cd9c660db32" type="ANY">
						<logger level="INFO" doc:name="Logger" doc:id="89cdaaf9-f903-491d-9497-90c2e10d37b4" />
					</on-error-continue>
				</error-handler>
			</try>
			</until-successful>

	</flow>
</mule>
