src/main/mule/system/sys-mongodb-api-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get-msisdn-whitelist-flow"
		doc:id="720e2f54-7f61-49c2-a210-96e358d7d22f">
		<http:request method="GET" doc:name="Request"
			doc:id="b6f5ae47-c163-4281-b2b9-23f6dbe84063"
			config-ref="HTTP_Request_Config_MongoDB_Api" path="${mongodb.path}" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"X-Client-Id": p('mongodb.client_id'),
	"X-Client-Secret": p('mongodb.client_secret'),
	"X-Correlation-Id": correlationId
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"msisdn" : vars.originalPayload.full_msisdn
}]]]></http:uri-params>
		</http:request>
			
	</flow>
</mule>
